In [1]:
import pandas as pd

## All data

In [24]:
df = pd.read_csv('liquor_sales.csv')
df

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,S30192200003,2016-01-13 00:00:00,3772,Shop N Save #1 / Mlk Pkwy,2127 M L KING JR PKWY,DES MOINES,50314.0,NaN,77,Polk,...,56193,Paul Masson Peach Grande Amber Brandy,24,200,1.96,2.94,24,70.56,4.8,1.27
1,S30234800064,2016-01-15 00:00:00,4829,Central City 2,1501 MICHIGAN AVE,DES MOINES,50314.0,POINT (-93.613739 41.60572),77,Polk,...,86251,Juarez Triple Sec,12,1000,2.42,3.63,60,217.80,60.0,15.85
2,S30348700047,2016-01-25 00:00:00,3162,Nash Finch / Wholesale Food,807 GRANDVIEW,MUSCATINE,52761.0,POINT (-91.06411300000002 41.408437),70,Muscatine,...,82847,Dekuyper Peachtree,12,1000,7.62,11.43,4,45.72,4.0,1.06
3,S30390600011,2016-01-26 00:00:00,2641,Hy-Vee Drugstore / Council Bluffs,757 W BROADWAY,COUNCIL BLUFFS,51501.0,POINT (-95.855054 41.261673),78,Pottawattamie,...,81124,99 Peppermint Mini,10,600,5.94,8.91,2,17.82,1.2,0.32
4,S30466200002,2016-02-01 00:00:00,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14TH ST,DES MOINES,50320.0,POINT (-93.596754 41.554101),77,Polk,...,973627,Di Amore Quattro Orange,12,1000,9.75,14.63,120,1755.60,120.0,31.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,INV-23938500001,2019-12-16 00:00:00,4136,Fareway Stores #983 / Grimes,351 Gateway Dr,Grimes,50111.0,NaN,77,POLK,...,77805,Saints N Sinners Apple Pie,12,750,8.00,12.00,108,1296.00,81.0,21.39
70,INV-24014800058,2019-12-18 00:00:00,4312,I-80 Liquor / Council Bluffs,2411 S 24TH ST #1,Council Bluffs,51501.0,POINT (-95.8792 41.238092),78,POTTAWATTA,...,86251,Juarez Triple Sec,12,1000,2.42,3.63,48,174.24,48.0,12.68
71,INV-24096400014,2019-12-23 00:00:00,2593,Hy-Vee Food Store / Carroll,905 US Highway 30 West,Carroll,51401.0,POINT (-94.853591 42.064155),14,CARROLL,...,27189,Basil Hayden Dark Rye,6,750,23.62,35.43,18,637.74,13.5,3.56
72,INV-24116900112,2019-12-23 00:00:00,2670,Hy-Vee Food Store / Coralville,2004 8th St,Coralville,52241.0,POINT (-91.591868 41.682337000000004),52,JOHNSON,...,65750,Maestro Agavero Gold,12,1000,7.00,10.50,48,504.00,48.0,12.68
73,INV-24268000020,2019-12-31 00:00:00,3993,New Star Liquor / W 4th S / Waterloo,1625 West 4th St,Waterloo,50701.0,NaN,7,BLACK HAWK,...,43031,Bacardi Gold Mini,12,50,5.54,8.31,4,33.24,0.2,0.05

### Sum bottle sales per zip code and item

In [51]:
df_zip = df.groupby(['zip_code', 'item_number'])['bottles_sold'].sum().to_frame()
df_zip

                      bottles_sold
zip_code item_number
50010.0  946574                288
50022.0  86507                   4
50111.0  77805                 108
50131.0  38089                  48
50158.0  48099                  24
...                            ...
52627.0  67586                  36
52732.0  45248                  24
52761.0  82847                   4
52803.0  41844                   3
52804.0  48690                   2

[72 rows x 1 columns]

### Most popular item: 1st item for each distinct zip code

In [52]:
df_max = df_zip.sort_values(by=['zip_code', 'bottles_sold'], ascending=False)
df_max

                      bottles_sold
zip_code item_number
52804.0  48690                   2
52803.0  41844                   3
52761.0  82847                   4
52732.0  45248                  24
52627.0  67586                  36
...                            ...
50158.0  67528                   3
50131.0  38089                  48
50111.0  77805                 108
50022.0  86507                   4
50010.0  946574                288

[72 rows x 1 columns]

### Calculate overall sales

In [55]:
sales_sum = sum(df['sale_dollars'])
print('All sales:', sales_sum)

All sales: 61266.17999999999

### Sum sales per store

In [57]:
df_sales = df.groupby('store_name')['sale_dollars'].sum().to_frame()
df_sales

                                   sale_dollars
store_name
Bootleggin' Barzini's Fin                  6.75
Burlington Shell                         206.64
CVS Pharmacy #8526 / Cedar Rapids         42.00
Cedar Ridge Vineyards                   3712.50
Central City 2                          2580.60
...                                         ...
Speedy Gas N Shop                         68.18
Tequila's Liquor Store                   413.28
The Ox & Wren Spirits and Gifts           75.12
Tobacco Hut #14 / Council Bluffs          33.24
Wilkie Liquors                         11620.80

[61 rows x 1 columns]

### Calculate the percentages

In [65]:
df_sales['sales_percentage'] = (df_sales['sale_dollars'] / sales_sum * 100).astype(str) + ' %'
df_sales

                                   sale_dollars        sales_percentage
store_name
Bootleggin' Barzini's Fin                  6.75  0.011017497745085463 %
Burlington Shell                         206.64    0.3372823309695496 %
CVS Pharmacy #8526 / Cedar Rapids         42.00   0.06855331930275399 %
Cedar Ridge Vineyards                   3712.50     6.059623759797004 %
Central City 2                          2580.60     4.212111804587784 %
...                                         ...                     ...
Speedy Gas N Shop                         68.18   0.11128488833480399 %
Tequila's Liquor Store                   413.28    0.6745646619390993 %
The Ox & Wren Spirits and Gifts           75.12      0.12261250823864 %
Tobacco Hut #14 / Council Bluffs          33.24    0.0542550555624653 %
Wilkie Liquors                         11620.80     18.96772411793913 %

[61 rows x 2 columns]